<!DOCTYPE HTML>
<html>

<head>
    <title><%-title%></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/resource/css/main.css" />
</head>

<body>
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <div class="content">
                <h1>圖分享</h1>
                <h2>A fully beautiful world-style<br />
                </h2>
                <a href="#" class="button big alt"><span>Let's Go</span></a>
            </div>