<!-- Footer -->
<!-- UY BEGIN -->
<div id="uyan_frame" style="width:80%;margin: 0 auto"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137531"></script>
<!-- UY END -->
</div>
<footer id="footer">
    <a href="#" class="info fa fa-info-circle"><span>About</span></a>
    <div class="inner">
        <div class="content">
            <h3>说明</h3>
            <p>本站不存在任何商业性行为.</p>
        </div>
        <div class="copyright">
            <h3>Follow me</h3>
            <ul class="icons">
                <li><a href="https://github.com/zzhtom" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="http://weibo.com/u/2958802633/home" class="icon fa-weibo"><span class="label">Weibo</span></a></li>
                <li><a href="mailto:18365266392@163.com" class="icon fa-envelope"><span class="label">E-Mail</span></a></li>
                <li><a href="http://www.zhangxiaoheng.cn" class="icon fa-book"><span class="label">Blog</span></a></li>
            </ul>
            Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://127.0.0.1:8360/">&#x6EC1;&#x9662;&#x8857;&#x821E;</a>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/jquery.elevatezoom.js" type="text/javascript"></script>
<script src="/static/js/home/photograph/detail.js"></script>

</body>

</html>