<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>管理平台</title>
  
</head>

<frameset rows="61,*,24" cols="*" framespacing="0" frameborder="no" border="0">
  <frame src="top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" />
  <frame src="center" name="mainFrame" id="mainFrame" />
  <frame src="down" name="bottomFrame" scrolling="No" noresize="noresize" id="bottomFrame" />
</frameset>
<noframes>
  当前浏览器不支持此网页.
</noframes>

</html>