<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/resource/rms/component/layui/css/layui.css" media="all">
</head>

<body>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>个人信息</legend>
    </fieldset>
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input" value="<%=data.realname%>" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-inline">
                <input type="text" name="age" class="layui-input" value="<%=data.age%>" disabled>
            </div>
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <input type="text" name="sex" class="layui-input" value="<%=data.sex%>" disabled>
            </div>
            <!-- <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" checked="">
                <input type="radio" name="sex" value="女" title="女" disabled>
            </div> -->
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">出生日期</label>
                <div class="layui-input-block">
                    <input type="text" name="date" id="date1" class="layui-input" value="<%=data.birthday%>" disabled>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" class="layui-input" value="<%=data.telphone%>" disabled>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email" class="layui-input" value="<%=data.email%>" disabled>
            </div>
            <label class="layui-form-label">博客</label>
            <div class="layui-input-inline">
                <input type="text" name="blog" class="layui-input" value="<%=data.website%>" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">爱好</label>
            <div class="layui-input-block">
                <select name="interest" lay-filter="aihao">
        <option value=""><%=data.hobby%></option>
        <!-- <option value="0">写作</option>
        <option value="1" selected="">阅读</option>
        <option value="2">游戏</option>
        <option value="3">音乐</option>
        <option value="4">旅行</option> -->
      </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">住址</label>
            <div class="layui-input-inline">
                <select name="quiz1">
        <option value=""><%=data.province%></option>
        <!-- <option value="浙江" selected="">浙江省</option>
        <option value="你的工号">江西省</option>
        <option value="你最喜欢的老师">福建省</option> -->
      </select>
            </div>
            <div class="layui-input-inline">
                <select name="quiz2">
        <option value=""><%=data.city%></option>
        <!-- <option value="杭州" selected=''>杭州</option>
        <option value="宁波" disabled="">宁波</option>
        <option value="温州">温州</option>
        <option value="温州">台州</option>
        <option value="温州">绍兴</option> -->
      </select>
            </div>
            <div class="layui-input-inline">
                <select name="quiz3">
        <option value=""><%=data.town%></option>
        <!-- <option value="西湖区" selected=''>西湖区</option>
        <option value="余杭区">余杭区</option>
        <option value="拱墅区">临安市</option> -->
      </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">个人介绍</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" disabled><%=data.introduction%></textarea>
            </div>
        </div>
        <!-- <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="demo2">修改信息</button>
        </div> -->
    </form>

    <script src="/static/resource/rms/component/layui/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate;

        });
    </script>

</body>

</html>