<%include inc/header.html%>
    <title>资源管理系统</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <link rel="stylesheet" href="/static/resource/rms/style/index.css">
</head>

<body>
    <div class="header">
        <a href="#" class="logo">资源管理系统</a>
        <!-- 顶部右侧菜单 -->
        <ul class="layui-nav right_nav">

            <li class="layui-nav-item showNotice" id="showNotice">
                <a href="javascript:;"><i class="layui-icon" style="font-size: 16px;margin-right:2.5px;">&#xe645;</i><cite>系统公告</cite></a>
            </li>
            <!-- <li class="layui-nav-item" mobile>
                <a href="javascript:;" class="mobileAddTab" data-url=""><i class="layui-icon" style="font-size: 16px;margin-right:2.5px;"></i><cite>设置</cite></a>
            </li> -->
            <li class="layui-nav-item lockcms">
                <a href="javascript:;"><i class="iconfont icon-lock1" style="font-size: 16px;margin-right:2.5px;" ></i><cite>锁屏</cite></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
							<img src="/static/resource/rms/images/avator/avator.png" class="layui-circle" width="35" height="35">
							<cite><%-username%></cite>
						</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-url="userinfo"><i class="iconfont icon-zhanghu" data-icon="icon-zhanghu"></i><span>个人资料</span></a></dd>
                    <dd><a href="javascript:;" data-url="page/user/changePwd.html"><i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i><span>修改密码</span></a></dd>
                    <dd><a href="javascript:;" class="changeSkin"><i class="iconfont icon-huanfu"></i><span>更换皮肤</span></a></dd>
                    <dd><a href="#" class="signOut"><i class="iconfont icon-loginout"></i><span>退出</span></a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!-- 左侧菜单 -->
    <div class="menu">
        <div class="user-photo">
            <a class="avator" title="我的头像"><img src="/static/resource/rms/images/avator/avator.png"></a>
            <p>你好！<span class="userName"><%-username%></span>, 欢迎登录</p>
        </div>
        <ul class="layui-nav layui-nav-tree side-nav" lay-filter="sideNavgation">
            <!--侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
            <li class="layui-nav-item">
                <a href="javascript:;">资源管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-url='userlist'><span>用户管理</span></a></dd>
                    <dd><a href="javascript:;" data-url='newslist'><span>新闻管理</span></a></dd>
                    <dd><a href="#">跳转</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">文档管理</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">系统设置</a>
            </li>

        </ul>
    </div>
    <!-- 右侧内容 -->
    <div class="tab-form layui-form">
        <div class="layui-tab right-body" lay-filter="main_tab">
            <!-- lay-allowClose="false" -->
            <ul class="layui-tab-title tab-title">
                <li class="layui-this" lay-id='0'><span>首页</span></li>
            </ul>
            <ul class="layui-nav closeBox" lay-filter="close_tab">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont icon-caozuo"></i> 页面操作</a>
                    <dl class="layui-nav-child">
                        <dd apply="closePageOther"><a href="javascript:;"><i class="iconfont icon-prohibit"></i> 关闭其他</a></dd>
                        <dd apply="closePageAll"><a href="javascript:;"><i class="iconfont icon-guanbi"></i> 关闭全部</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="layui-tab-content tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="page/main.html"></iframe>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/resource/rms/component/layui/layui.js"></script>
    <script type="text/javascript" src="/static/resource/rms/javascript/index.js"></script>
</body>

</html>