<%include inc/header.html%>
    </head>

    <body>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>注册个人信息</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="realname" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-inline">
                    <input type="text" name="age" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男" title="男">
                    <input type="radio" name="sex" value="女" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">出生日期</label>
                    <div class="layui-input-block">
                        <input type="date" name="birthday" id="birthday" class="layui-input" required>
                    </div>
                </div>
                <label class="layui-form-label">电话</label>
                <div class="layui-input-inline">
                    <input type="phone" name="telphone" class="layui-input" lay-verify="phone">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="email" name="email" class="layui-input" lay-verify="email">
                </div>
                <label class="layui-form-label">主页</label>
                <div class="layui-input-inline">
                    <input type="url" name="website" class="layui-input" lay-verify="url">
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label">住址</label>
                <div class="layui-input-inline">
                    <select name="province" lay-verify="required">
                    <option value="">请选择省</option>
                </select>
                </div>
                <div class="layui-input-inline">
                    <select name="city" lay-filter="city" lay-verify="required">
                    <option value="">请选择市</option>
                </select>
                </div>
                <div class="layui-input-inline">
                    <select name="town" lay-filter="town" lay-verify="required">
                    <option value="">请选择县/区</option>
                </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">爱好</label>
                <div class="layui-input-block">
                    <select name="hobby" lay-filter="aihao">
                    <option value="">请选择您的爱好</option>
                    <option value="写作">写作</option>
                    <option value="阅读" >阅读</option>
                    <option value="游戏">游戏</option>
                    <option value="音乐">音乐</option>
                    <option value="旅行">旅行</option>
                </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">个人介绍</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="introduction"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline" style="width:100%; margin:0 auto; text-align:center;">
                    <button class="layui-btn" lay-submit lay-filter="addUser">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

        <script src="/static/resource/rms/component/layui/layui.js" charset="utf-8"></script>
        <script src="/static/resource/rms/javascript/adduser.js"></script>

    </body>

    </html>