<%include inc/header.html%>
  <title>新闻列表</title>

  </head>

  <body>

    <blockquote class="layui-elem-quote">
      新闻信息
    </blockquote>


    <div class="site-demo-button layui-form" id="optionGlobal" style="margin-bottom: 0; margin-right: 20px;" align="right">
      <!-- <input type="checkbox" name="" title="全选" lay-skin="primary"> -->
      <button data-method="addArticle" class="layui-btn add-btn">新增</button>
      <button data-method="setTop" class="layui-btn delete-btn">删除</button>
    </div>
    <div style="width:900px; margin: 0 auto;">
      <!-- table 信息 -->
      <table class="layui-table" lay-size="lg" lay-data="{height:600, url:'/rms/data/getallnews', page:true, id:'newslist'}" lay-filter="newslist">
        <thead>
          <tr>
            <th lay-data="{checkbox:true, fixed: true}"></th>
            <!-- <th lay-data="{field:'choose', fixed: true}">序号</th> -->
            <th lay-data="{field:'id',  sort: true, fixed: true, width: 60, display: false}">ID</th>
            <th lay-data="{field:'title', width: 100}">新闻名称</th>
            <th lay-data="{field:'cuser', sort: true, width: 100}">发布者</th>
            <th lay-data="{field:'ctime', sort: true, width: 180}">发布时间</th>
            <th lay-data="{field:'uuser', sort: true, width: 100}">修改者</th>
            <th lay-data="{field:'utime', sort: true, width: 180}">修改时间</th>
            <th lay-data="{fixed: 'right', align:'center', toolbar: '#barOption', width: 180}">操作</th>
          </tr>
        </thead>
      </table>
    </div>
    <script type="text/html" id="barOption">
      <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
      <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
      <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
    </script>
    <script src="/static/resource/rms/component/layui/layui.js" charset="utf-8"></script>
    <script src="/static/resource/rms/javascript/newslist.js"></script>
  </body>

  </html>