<%include inc/header.html%>
    <link rel="stylesheet" href="/static/resource/rms/component/custom/css/simplemde.css">
    </head>

    <body>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>发布新闻信息</legend>
        </fieldset>
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" class="layui-input" lay-verify="required">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="type" lay-filter="hobby">
                    <option value="">请选择</option>
                    <option value="HipHop">HipHop</option>
                    <option value="breaking">breaking</option>
                    <option value="jazz">jazz</option>
                    <option value="popin">popin</option>
                    <option value="locking">locking</option>
                </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">新闻内容</label>
                <div class="layui-input-block">
                    <textarea name="article" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item" style="margin: 0 aut0;text-align:center;">
                <div class="layui-input-line">
                    <button class="layui-btn" lay-submit lay-filter="addNews">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

        <script src="/static/resource/rms/component/layui/layui.js" charset="utf-8"></script>
        <script src="/static/resource/rms/component/custom/lib/simplemde.js" charset="utf-8"></script>
        <script src="/static/resource/rms/javascript/addnews.js"></script>

    </body>

    </html>