<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Login form</title>

  <link href='http://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/resource/css/admin/login/style.css">
</head>

<body>
  <div class="form">
    <div class="forceColor"></div>
    <!--<form>-->
      <div class="topbar">
        <div class="spanColor"></div>
        <fieldset>
          <input type="text" class="input" id="username" placeholder="username"  required />
          <input type="password" class="input" id="password" placeholder="Password" value autocomplete="off" />
        </fieldset>
      </div>
      <button type="submit" class="submit" id="submit">Login</button>
  </div>
  <!--</form>-->
  <script src='/static/resource/js/jquery.min.js'></script>
  <script src="/static/resource/js/layer/layer.js"></script>
  <script src="/static/resource/js/admin/login/index.js"></script>
</body>

</html>