<%include inc/header.html%>
	<script>
		// window.onload = function () {
		// 	var img1 = document.getElementById("img1");
		// 	var i = 2;
		// 	var timer = setInterval(function () {
		// 		img1.style.filter = 'alpha(opacity:' + 10 + ')';
		// 		img1.style.opacity = 0.1;
		// 		if (i <= 6) {

		// 			img1.src = '/static/img/' + i + '.jpg';
		// 			i++;
		// 			startmove(img1, { opacity: 100 });
		// 		}
		// 		if (i > 6) {
		// 			i = 1;
		// 			img1.src = '/static/img/' + i + '.jpg';
		// 			startmove(img1, { opacity: 100 });
		// 		}
		// 	}, 10000);
		// };
	</script>
	<div id="mainframe">
		<div id="mainleft">
			<!-- <img src="/static/img/1.jpg" id="img1" /> -->
			<iframe name="music" src="/index/music" height="100%" width="100%" border="0" frameborder="0">
				浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe>
		</div>
		<div id="maincenter">
			<div class="two">
				<p>
					<%-pagetitles.newspaperone%>
				</p>
				<div id="title">
					<ul id="ul2">
						<%news.forEach(function(item){%>
							<li>
								<a href="javascript:window.open('<%-item.action%>?mdn=<%-item.mdname%>')">
									<%-item.title%>
								</a>
							</li>
							<%})%>
					</ul>
				</div>
			</div>
			<div class="gap"></div>
			<div class="two">
				<p>
					<%-pagetitles.newspapertwo%>
				</p>
				<div id="title">
					<ul id="ul3">
						<%activitys.forEach(function(item){%>
							<li>
								<a href="javascript:window.open('<%-item.action%>?mdn=<%-item.mdname%>')">
									<%-item.title%>
								</a>
							</li>
							<%})%>
					</ul>
				</div>
			</div>
		</div>
		<div id="mainright">
			<div class="three"><img src="/static/img/f2-a4.gif" style="float:left;" />
				<p style="float: left; margin:20px; font-family:'新宋体' ; color:#FFCC00; font-size:18px;
			font-weight:bold;">
					<%-pagetitles.poster%>
				</p>
				<div id="rightone">
					<a href='javascript: window.open("/poster/index?mdn=<%-poster.mdname%>")'><img src="/resource/poster/<%-poster.mdname%>/<%-poster.pname%>" style="width:198px; height:180px;" /></a>
					<p align="center" style="width:198px; height:60px;font-size:1rem;line-height: 30px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; overflow:hidden">
						<a title="<%-poster.theme%>" href='javascript: window.open("/poster/index?mdn=<%-poster.mdname%>")'>
							<%-poster.theme%>
						</a>
					</p>
				</div>
			</div>
			<div class="three2">
				<p align="center" style="margin-top:10px; font:'黑体' bold; color:#FFCC00;">
					<%-pagetitles.sitelink%>
				</p>
				<label>
			      <div align="center"  style="margin-top:20px;">
			        <select  name="select" onchange="goto_site(this)" style="width:150px;">
					  <option selected="selected"><%-pagetitles.siteprompt%></option>
					  <%sites.forEach(function(item){%>
					  		<option value="<%-item.siteurl%>"><%-item.sitename%></option>
							<%})%>
		            </select>
		          </div>
			    </label>
			</div>
		</div>
	</div>
	<!--<canvas style="position: fixed; top: 0px; left: 0px; z-index: 5000; pointer-events: none;" id="canvas_snow" width="1366"
	 height="307"></canvas>
	<canvas style="position: fixed; top: 0px; left: 0px; z-index: 5000; pointer-events: none;" id="canvas_snow" width="1366"
	 height="307"></canvas>-->
	<%include inc/footer.html%>