<%include inc/header.html%> 	
	<div id="main_video" >
      <div id="main1">
	        <h2 align="center">视频视界</h2><br />
			<hr size="4" color="#FFFF99" width="100%" /><br />		
			<ul>
				<li>
					<a href="displayvideo?src=http://player.youku.com/player.php/sid/XODAwMzUzNzUy/v.swf"   target="_blank">
						<img src="http://g2.ykimg.com/0100641F465437547D010F19E9C08A17C46793-FDBE-CD29-7E89-420FDC6E645E" border="0" width="204.8px" height="170px"/></a>
					<p><a href="displayVideo?src=http://player.youku.com/player.php/sid/XODAwMzUzNzUy/v.swf" target="_blank">滁州学院街舞社 happy life</a></p>
				</li>
				<li>
					<a href="displayvideo?src=http://player.youku.com/player.php/sid/XNzg5OTY5MzI4/v.swf"  target="_blank">
						<img src="http://g3.ykimg.com/0100641F46542363DDEB7C19E9C08AB8FC423A-6262-BD4B-48C5-B2FAC698DCA1" border="0" width="204.8px" height="170px"/>
					</a>
					<p>
					     <a href="displayvideo?src=http://player.youku.com/player.php/sid/XNzg5OTY5MzI4/v.swf" target="_blank">滁州学院2014迎新晚会街舞社街舞表演 北校</a>
					</p>				
				</li>
				<li>
					<a href="displayvideo?src=http://player.youku.com/player.php/sid/XNzg5ODU4NjU2/v.swf"  target="_blank">
						<img src="http://g2.ykimg.com/0100641F465422F363482319E9C08AED9595B4-2044-0340-1797-1417C76C19B1" border="0" width="204.8px" height="170px"/>
					</a>
					<p>
					     <a href="displayvideo?src=http://player.youku.com/player.php/sid/XNzg5ODU4NjU2/v.swf" target="_blank">滁州学院2014迎新晚会街舞社街舞表演 南校</a>
					</p>				
				</li>
				<li>
					<a href="displayvideo?src=http://player.youku.com/player.php/sid/XMjM0MTczMTc2/v.swf"  target="_blank">
						<img src="http://g1.ykimg.com/0100641F464D207ED75F5C00764EA3C1191A0A-BA28-E831-B79D-DF1F12132EAC" border="0" width="204.8px" height="170px"/>
					</a>
					<p>
					     <a href="displayvideo?src=http://player.youku.com/player.php/sid/XMjM0MTczMTc2/v.swf" target="_blank">滁州学院街舞社sorry sorry</a>
					</p>				
				</li>
			</ul>
			<ul>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
			</ul>
			<ul>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
			</ul>
			<ul>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
			</ul>
			<ul>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
				<li>
					<img src="/static/resource/img/4.jpg" width="204.8px" height="170px"/>
					<p><a href="http:www.chzu.edu.cn/" target="_blank">美丽的滁州学院</a></p>				
				</li>
			</ul>									

      </div>	
 	</div>
	<div align="center" style="width:100%;">
	 	<input type="button" name="up" value="上一页" onclick="alert('哥们总共就一页');" />
	 	&nbsp;&nbsp;&nbsp;
	 	<input type="button" name="down" value="下一页" onclick="alert('哥们总共就一页');"/>
	</div><br />	
    <!--<div align="center" style=" margin-bottom:5px; width:100%;">
	    <a href="javascript:window.close()">
             <img width="74" height="19" border="0" src="/static/resource/img/b_close.gif">
        </a>
    </div>-->
	<hr size="3px" color="#000000" width="1002px" /><br />
	<div id="footer"><p align="center"  style="margin-top:20px; font-size:12px;">校址：安徽省滁州市丰乐大道1528号（会峰校区）　安徽省滁州市琅琊路2号（琅琊校区）　邮编：239000 皖ICP备11015759号</p></div>
</div>
</body>
</html>