<%include inc/header.video.html%>
    <div id="main_video">
        <div id="main1">
            <h2 align="center">视频视界</h2><br />
            <hr size="4" color="#FFFF99" width="100%" /><br />
            <ul>
                <%videos.forEach(function(video){%>
                    <li>
                        <a href="<%-video.action%>?src=<%-video.videoURL%>" target="_blank">
                        <img src="<%-video.imageURL%>" border="0" width="204.8px" height="170px" /></a>
                        <p>
                            <a href="<%-video.action%>?src=<%-video.videoURL%>" target="_blank">
                                <%-video.title%>
                            </a>
                        </p>
                    </li>
                    <%})%>

            </ul>

            <div class="video">
                <div class="mix"></div>
                <div class="mix"></div>
                <div class="mix"></div>
                <div class="mix"></div>
       
            
            -->

                <div class="gap"></div>
                <div class="gap"></div>
                <div class="gap"></div>
            </div>
        </div>
    </div>
    <div align="center" style="width:100%;">
        <input type="button" name="up" value="上一页" onclick="alert('哥们总共就一页');" /> &nbsp;&nbsp;&nbsp;
        <input type="button" name="down" value="下一页" onclick="alert('哥们总共就一页');" />
    </div><br />
    <!--<div align="center" style=" margin-bottom:5px; width:100%;">
	    <a href="javascript:window.close()">
             <img width="74" height="19" border="0" src="/static/resource/img/b_close.gif">
        </a>
    </div>-->
    <%include inc/footer.html%>