<%include inc/header.html%> 
<script language="javascript">
window.onload=function(){
var btn1=document.getElementsByName("btn1");
var img=document.getElementsByTagName("img")[0];
var timer=null;
var flag=0;
var i=1;
btn1[1].onclick=function(){
     startmove(img,{opacity:100});
	 btn1[1].value=" Stop ";
	 if(flag==0){
	 flag++;
	 timer=setInterval(function(){
	       if(i<8){
		   i++;
		   }else{
		   i=1;
		   }
		   setTimeout(function(){
		       img.style.filter='alpha(opacity:'+30+')';
	           img.style.opacity=0.3;},3000);
		   img.src="/static/img/photograph/"+i+".jpg";
		   startmove(img,{opacity:100});
	 },5000);
	}else{
	btn1[1].value="Start";
	flag--;
	clearInterval(timer);
	}
};
btn1[0].onclick=function(){
    btn1[1].value="Start";
    clearInterval(timer);
	flag=0;
	i--;
	if(i<=0){
	i=8;
	}
	img.style.filter='alpha(opacity:'+100+')';
	img.style.opacity=100;
	img.src="/static/img/photograph/"+i+".jpg";
};
btn1[2].onclick=function(){
    btn1[1].value="Start";
    clearInterval(timer);
	flag=0;
	i++;
	if(i>8){
	i=1;
	}
	img.style.filter='alpha(opacity:'+100+')';
	img.style.opacity=100;
	img.src="/static/img/photograph/"+i+".jpg";
};
}
</script>
    <div id="main_pg">
	    <div id="main1"><img src="/static/img/photograph/1.jpg" width="600" height="450" /></div>
		<div id="main2">
            <input type="submit" name="btn1" value=" &lt;&lt; " />
            &nbsp;&nbsp; 
            <input type="button" name="btn1" value=" Start " />
            &nbsp;&nbsp;
            <input type="button" name="btn1" value=" &gt;&gt; " />
		</div>
	</div>
	<canvas style="position: fixed; top: 0px; left: 0px; z-index: 5000; pointer-events: none;" id="canvas_snow" width="1366" height="307"></canvas>
    <canvas style="position: fixed; top: 0px; left: 0px; z-index: 5000; pointer-events: none;" id="canvas_snow" width="1366" height="307"></canvas>
<%include inc/footer.html%>   
