<%include inc/photographheader.html%>
	<a href="/index/photograph" class="button hidden"><span>Let's Go</span></a>
	</div>
	</header>
	<!-- Main -->
	<div id="main">
		<div class="inner">
			<div class="columns">

				<!-- Column 1~4 (horizontal, vertical, horizontal, vertical) -->
				<%photographs.forEach(function(item){%>
					<div class="image fit">
						<a href="detail?name=<%-item.name%>&&mdname=<%-item.mdname%>&&random=<%=random%>"><img src="/static/img/photograph/images/<%-item.name%>" alt="" /></a>
					</div>
					<%})%>
			</div>
		</div>
	</div>
	<%include inc/photographfooter.html%>