<%include inc/photographheader.html%>
	<!-- Header -->
	<!--<header id="header" class="preview">
		<div class="inner">
			<div class="content">
				<h1>Radius</h1>
				<h2>A fully responsive masonry style portfolio template.</h2>
			</div>
			onClick=”javascript :history.go(-1); Apply static html-->
	<a href="/photograph/index?random=<%-random%>" class="button hidden"><span>Let's Go</span></a>
	</div>
	</header>
	<span id="photos" style="display:none;"><%-photos%></span>

	<!-- Main -->
	<div id="preview">
		<div class="inner">
			<div class="image fit">
				<img class="zoom_pic" name="<%-name%>" src="/static/img/photograph/images/<%-name%>" rdata-zoom-image="/static/img/photograph/images/<%-name%>" ratio='<%=ratio%>' alt="" />
			</div>
			<div class="content mdcontent">
				<%-ImgIntro%>
			</div>
		</div>
		<a class="nav previous" href="javascript:void(0)"><span class="fa fa-chevron-left"></span></a>
		<a class="nav next" href="javascript:void(0)"><span class="fa fa-chevron-right"></span></a>
	</div>
	<%include inc/photographfooter.html%>