<%include inc/photographheader.html%>
	<a href="/photograph/index?random=<%-random%>" class="button hidden"><span>Let's Go</span></a>
	</div>
	</header>
	<!-- Main -->
	<div id="preview" class="vertical">
		<div class="inner">
			<div class="image fit">
				<img id="zoom_pic2" src="/static/img/photograph/images/<%-picname%>" data-zoom-image="/static/img/photograph/images/<%-picname%>"
				 alt="" />
			</div>
			<div class="content">
				<%-ImgIntro%>
			</div>
		</div>
		<a href="/photograph/redirect?picid=<%=picid%>&&chevron=left" class="nav previous"><span class="fa fa-chevron-left"></span></a>
		<a href="/photograph/redirect?picid=<%=picid%>&&chevron=right" class="nav next"><span class="fa fa-chevron-right"></span></a>
	</div>

	<%include inc/photographfooter.html%>